html {
   line-height: 1.2em;
   font-family: verdana;
   font-size: 15px;
	 background-color: #f2e6ff;

}

h2{
	padding-top:30px;
	text-align: center;
	font-family: Courier;
	padding-bottom:20px;
}

h3{
	padding-top:10px;
	text-align: center;
	font-family: arial;
	padding-bottom:10px;
  line-height: 20px;
  color: green;
  font-style:italic;
}

p {
  font-size: 1em;
  text-align: center;
  line-height: 50px;


}

label{
  display: block;
  background-color: #ffffff;
  text-align: center;

	background-color: #f2e6ff;

	color: gray;
}


form{
  padding-top: 25px;
	border: 1px solid #000;
	text-align: center;

}


input {
	display: table-cell;

}

@media screen and (min-width: 480px) {
  label {
    display: inline-block;
    color: black;
    margin-right: 5px;
    font-size: 1.3em;

    color: gray;
	  
  }

  div {
    display: inline;

  }

}

@media screen and (min-width: 1080px) {
	form{
		background-color: lightblue;
		font-family:monospace;
		/*Unique Color and text for fullscreen Desktop Users*/
	}

	label {
    display: inline-block;
    color: black;
    margin-right: 5px;
    font-size: 1.3em;

		background-color: lightblue;

  }

  div {
    display: inline;
  }



}
